.App {
  display: grid;
  grid-template: 
  'top' 48vh
  'divider' auto
  'bottom' 48vh;
}

.container {
  text-align: center;
}

.top {
  grid-area: top;
  display: grid;
  grid-template: 
  'header' 2em
  'main';
  background-color: rgb(148, 148, 226);
}

.top .header {
  grid-area: header;
}

.top .main {
  grid-area: main;
}

.divider {
  height: 3px;
  background-color: black;
}

.bottom {
  grid-area: bottom;
  display: grid;
  grid-template: 
  'main'
  'header' 2em;
  background-color: yellow;
}

.bottom .header {
  grid-area: header;
}

.bottom .main {
  grid-area: main;
}

.main {
  display: grid;
  grid-template: 
  "box";
  align-self: center;
}

.box {
  grid-area: box;
  height: 50px;
  width: 50px;
  margin: 0 auto auto;
  background-color: brown;
  cursor: pointer;
}